.appHeader {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: calc(1rem + 7vmin)
}

html {
  /* root font size rem is based on */
  font-size: 2vmin;
}

body {
  font-size: 4rem
}

input {
  width: 4em;
  font-size: 4rem;
  text-align: right;
  border-radius: 1rem;
}

input[type=number] {
  transition: width 0.4s ease-in-out;
}

input[type=number]:focus {
  width: 6em;
}

.container {
  border: 1px solid black;
  box-sizing: border-box;
  display: grid;
  flex-direction: column;
  justify-content: center;
}

.container > * {
  /* border: 1px solid green; */
  flex-direction: row;
  margin: 4vw 3vw;
}

.container > * > * {
  /* border: 1px solid red; */
  align-items: center;
}

table {
  border: 1px solid green;
  border-style: solid;
  border-radius: 1em;
  text-align: right;
  padding: 1rem;
  width: fit-content;
}

td {
  padding:0.1em 0.2em;
}